<div class="flex justify-start gap-3 items-center mr-4 my-6">
    <p>Show ids of users</p>
    <input type="checkbox" (change)="hideIdUsers()" [checked]="showId$ | async">
</div>
<div class="relative overflow-x-auto">
    <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
            <tr>
                <th scope="col" class="px-6 py-3">
                    name
                </th>
                <th scope="col" class="px-6 py-3">
                    nationality
                </th>
                <th scope="col" class="px-6 py-3">
                    id
                </th>
            </tr>
        </thead>
        <tbody>
            <ng-container *ngIf="user$ | async  as users">
                <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700" *ngFor="let user of users">
                    <td scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                        {{user.name}}
                    </td>
                    <td class="px-6 py-4">
                        {{user.nationality}}
                    </td>
                    <td class="px-6 py-4">
                        <ng-container *ngIf="showId$ | async">
                            {{user.id}}
                        </ng-container>
                    </td>
                </tr>
            </ng-container>
            
        </tbody>
    </table>
</div>
